@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf');
  font-weight: 100 1000;
  font-style: italic;
  font-display: swap;

}
@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jolly Lodger';
  src: url('/fonts/Jolly_Lodger/JollyLodger-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
