@import "tailwindcss";

@theme {
  --font-default: "DM Sans", ui-sans-serif, system-ui, sans-serif;
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
  --font-jolly: "Jolly Lodger", cursive;

  --color-primary-50: #EAFAFB;
  --color-primary-100: #D5F4F6;
  --color-primary-200: #AAE9EE;
  --color-primary-300: #80DEE5;
  --color-primary-400: #56D3DC;
  --color-primary-500: #2BC8D4;
  --color-primary-600: #23A0A9;
  --color-primary-700: #1A787F;
  --color-primary-800: #115055;
  --color-primary-900: #09282A;
  --color-primary-950: #061C1E;

  --color-secondary-50: #FDF5E7;
  --color-secondary-100: #FCEBCF;
  --color-secondary-200: #F9D69F;
  --color-secondary-300: #F6C26F;
  --color-secondary-400: #F3AE3F;
  --color-secondary-500: #F09A0F;
  --color-secondary-600: #C07B0C;
  --color-secondary-700: #905C09;
  --color-secondary-800: #603D06;
  --color-secondary-900: #301F03;
  --color-secondary-950: #221602;
}

@layer {
  .login-lbl {
    @apply font-medium ps-2 cursor-pointer;
  }

  .login-input {
    @apply border-3 rounded-xl p-3 bg-black/9 w-86 focus:border-secondary-300 focus:text-secondary-200 focus:outline-none shadow-inner shadow-black/35 drop-shadow-md drop-shadow-black/25 transition-colors;
  }

  .login-btn {
    @apply rounded-xl p-3 bg-secondary-300 border-4 border-secondary-300 text-black font-black transition-colors drop-shadow-md drop-shadow-black/25 hover:shadow-[inset_-3px_3px_7px_2px] hover:shadow-black/20 hover:text-black/60 cursor-pointer my-2;
  }
}